<div class="container jumbotron">
  <div class="row">
    <div class="col">
      <h1 class="display-4">Forum</h1>
      <h2>Subjects</h2>
    </div>
  </div>
  <div *ngFor="let subject of subjects" class="card w-100">
    <div class="card-body row">
      <div class="col-1">
          <i class="fas fa-file-alt icon-extra-style"></i>
      </div>
      <div class="col">
        <h3 class="card-title"><a [routerLink]="['subject', subject.id]">{{subject.title}}</a></h3>
      </div>
    </div>
  </div>

</div>
