<div class="container jumbotron">
    <div class="row">
      <div class="col">
        <h1 class="display-4">Forum</h1>
        <h2>Private Messages - {{data.type}}</h2>
      </div>
      <div class="col-2 text-right">
          <button type="button" class="btn btn-primary" [routerLink]="['/send-message']"><i class="fas fa-plus-circle"></i></button>
      </div>
    </div>
    <div *ngFor="let privateMessage of privateMessages" class="card w-100">
      <div class="card-body row">
        <div class="col-1">
            <i class="fas fa-file-alt icon-extra-style"></i>
        </div>
        <div class="col">
          <h3 class="card-title">{{privateMessage.topic}}</h3>
          <div class="card-text">{{privateMessage.body}}</div>
          <small>by:
            <span>{{privateMessage.from}}</span> - {{privateMessage.date}}
          </small>
        </div>
      </div>
    </div>

  </div>
